@charset "UTF-8";

#main-nav,
#search-nav {
	background-color: #3471ba;
} 

.navbar a img {
	height: 35px;
}

.jumbotron {
	margin-top: 70px;
	background-color: white;
	/* border-bottom: 4px solid #5f5f5f; */
}

.view-cascade {
  height: 170px;
}

#messageForm {
	margin-top: 70px;
	
}

#inform-tabContent {
	color: #F8F9FA;
}

.btn-outline-primary {
	background: #3471ba;
	color: white;
}

/* 하단 수정 메뉴 
-------------------------------------------------- */
.cardMenu {
  height : 400px;
  overflow-y: auto; 
}

#column1 {
  background-color: #f3f3f3;
}

#column2 {
  background-color: #cedbe6;
}

#column3 {
  background-color: #f3f3f3;
}

/* footer 
-------------------------------------------------- */
.page-footer {
  background-color: #9fa4a7;
}
span {
  color: #3471ba;
}

/* modal 
-------------------------------------------------- */
.modal-header {
	background-color: #3471ba;
}

/* recruitpage.jsp 
-------------------------------------------------- */

table.table-bordered > tbody > tr > th {
    border-top:3px solid #3471ba;
}

table.table-bordered > thead > tr {
    border-top :3px solid #3471ba;
}

.w-10 {
  width : 10%;
}

.w-20 {
	width: 20%;
}

.w-30 {
	width: 30%;
}

#r-savebtn,
#r-cancelbtn,
#r-editbtn,
#r-delbtn { 
	width: 100px;
}

.etc1 {
	height: 243px;
}

/* talentpage.jsp 
-------------------------------------------------- */
.contact {
	background-color: #3471ba;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #feffff;
    margin: 1em 0; padding: 0; }

 #table-footer {
 	margin-top: 105px;
 }
 
 .w-50 {
  width: 50%;
}

 
/* questionpage.jsp 
-------------------------------------------------- */

table.table-bordered > thead > tr > th {
    border-top:3px solid #3471ba;
}
 
 .nav-link {
  background-color: #3471ba;
 }
 
 #question-tab,
 #send-tab {
  height: 70px;
 }
 
.tab-content {
 overflow-x: hidden;
}

.card-img-top {
 width: 100px;
}