@charset "UTF-8";

#main-nav,
#search-nav {
	background-color: #3471ba;
} 

.navbar a img {
	height: 35px;
}

.jumbotron {
	margin-top: 70px;
	background-color: white;
	/* border-bottom: 4px solid #5f5f5f; */
}

.view-cascade {
  height: 160px;
}

#messageForm {
	margin-top: 70px;
}

#inform-tabContent {
	color: #F8F9FA;
}
/* 하단 수정 메뉴 
-------------------------------------------------- */
.cardMenu {
  height : 410px;
}

#column1 {
  background-color: #f3f3f3;
}

#column2 {
  background-color: #cedbe6;
}

#column3 {
  background-color: #f3f3f3;
}

