@charset "UTF-8";

#main-nav {
	background-color: #3471ba;
} 

.navbar a img {
	height: 35px;
}

.jumbotron {
	margin-top: 70px;
	background-color: white;
	border-bottom: 4px solid #5f5f5f;
}

.view-cascade {
  height: 160px;
}

#messageForm {
	margin-top: 70px;
}