@import url('https://fonts.googleapis.com/css?family=Song+Myung');

.h3-responsive,
#p-caption {
 font-family: 'Song Myung', serif !important;
}

.page-footer {
 background-color: #565656;
}

#mainCarousel {
 border-bottom: 4px solid #902228;
}

#main-card1,
#main-card2,
#main-card3,
#main-card4 {
 border-top: 4px solid #902228;
 height: 350px;
}

.btn-danger {
 background-color: #902228;
}

