.page-footer {
 background-color: #565656;
}

#main-card1 {
  border-bottom: 12px solid #c21a24;
  height: 350px;
}

#main-card2 {
  border-bottom: 12px solid #f6ad55;
  height: 350px;
}

#main-card3 {
  border-bottom: 12px solid #d6da4a;
  height: 350px;
}

#main-card4 {
  border-bottom: 12px solid #51c5e0;
  height: 350px;
}
