@charset "UTF-8";


/* Navigation
-------------------------------------------------- */

#main-nav {
	background-color: #5f5f5f;
	border-bottom: 4px solid #902228;
} 

#card-edit-account {
	height: 100%;
}

#basicTab {
	padding-top: 120px;
	padding-bottom: 20px;
}

ul {
	list-style-type: none;
}

.fontStress {
	color: red;
}

#agreeRadio {
	height: 40px;
}

/* Table
-------------------------------------------------- */

.w-30 {
	width: 20%;
}


table.table-bordered > tbody > tr > th {
    border-top:3px solid #d93749;
}