<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 	<typeAliases>
		<typeAlias type="com.scit.silver.vo.Member" alias="Member" />
		<typeAlias type="com.scit.silver.vo.SilverSearch" alias="SilverSearch" />
		<typeAlias type="com.scit.silver.vo.DetailsOne" alias="DetailsOne" />
		<typeAlias type="com.scit.silver.vo.DetailsTwo" alias="DetailsTwo" />
		<typeAlias type="com.scit.silver.vo.Information_Detail" alias="Information_Detail" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/MemberMapper.xml" />
		<mapper resource="mapper/SearchMapper.xml" />
		
		
		
	</mappers>
</configuration>
