<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 	<typeAliases>
		<typeAlias type="com.scit.silver.vo.Member" alias="Member" />
		<typeAlias type="com.scit.silver.vo.SilverSearch" alias="SilverSearch" />
		<typeAlias type="com.scit.silver.vo.DetailsOne" alias="DetailsOne" />
		<typeAlias type="com.scit.silver.vo.DetailsTwo" alias="DetailsTwo" />
		<typeAlias type="com.scit.silver.vo.SilverBoard" alias="SilverBoard" />
		<typeAlias type="com.scit.silver.vo.SilverBoardComent" alias="SilverBoardComent" />
		<typeAlias type="com.scit.silver.vo.SeniorCitizen" alias="SeniorCitizen" />
		<typeAlias type="com.scit.silver.vo.SeniorCitizenDetails" alias="SeniorCitizenDetails" />
		<typeAlias type="com.scit.silver.vo.Job" alias="Job" />
		<typeAlias type="com.scit.silver.vo.message" alias="message" />
		<typeAlias type="com.scit.silver.vo.Resume" alias="Resume" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/MemberMapper.xml" />
		<mapper resource="mapper/SearchMapper.xml" />
		<mapper resource="mapper/BoardMapper.xml" />
		<mapper resource="mapper/SeniorMapper.xml" />
		<mapper resource="mapper/JobMapper.xml" />
		<mapper resource="mapper/FacilityMapper.xml" />
		<mapper resource="mapper/Message.xml" /> 
	</mappers>
</configuration>
