<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.scit.silver.dao.AdminMapper">

<select id="selmember" parameterType="int" resultType="Member">
SELECT 
    USERID,
    TYPE,
    USERPWD,
    USERNAME,
    BIRTHDAY,
    GENDER,
    ADDRESS,
    REGISTRATION,
    EMAIL,
    WARNING,
    TELEPHONE
FROM
    MEMBER
WHERE
    TYPE = #{type}
ORDER BY
    REGISTRATION DESC


</select>
<select id="whattype" parameterType="String" resultType="int">
SELECT 
    TYPE
FROM
    SILVERSEARCH
WHERE
    SILVERNAME = #{silvername}

</select>
<select id="whattype2" parameterType="String" resultType="int">
SELECT 
    TYPE
FROM
    MEMBER
WHERE
    USERID = #{userid}

</select>
<select id="selonemem" parameterType="String" resultType="Member">
SELECT 
    USERID,
    TYPE,
    USERNAME,
    BIRTHDAY,
    GENDER,
    ADDRESS,
    REGISTRATION,
    EMAIL,
    WARNING,
    TELEPHONE
FROM
    MEMBER
WHERE
    USERID = #{userid}

</select>

<select id="selonere" parameterType="String" resultType="Resume">
SELECT 
    RE_SEQ
    USERID,
    RE_TYPE,
    RE_DETAILTYPE,
    RE_JOB,
    RE_CONTENT,
    RE_DATE,
    RE_AREAA,
    RE_AREBB,
    RE_QUALIFICATION
FROM
    RESUME
WHERE
    USERID=#{userid}
</select>

 <select id="seldetwo" parameterType="String" resultType="DetailsTwo">	
		select  
			A.SEACH_SEQ
			,A.TYPE
			,A.AREAA
			,A.AREAB
			,A.AREAC
			,A.SILVERNAME
			,A.SERVICE
			,A.GRADE
			,A.LAUITUDE
			,A.LONGITUDE
			,A.ORGNAME
			,A.NAME
            ,B.DETAIL_NUMBER
            ,TO_CHAR(B.ESTABLISHMENT, 'YYYY-MM-DD') ESTABLISHMENT
            ,TO_CHAR(B.APPROVAL, 'YYYY-MM-DD') APPROVAL
            ,B.address
            ,B.tel
            ,B.parkinglot

         FROM 
             SILVERSEARCH A 	
            ,DETAILS B
    	where 
            B.SEACH_SEQ = A.SEACH_SEQ 
            and
    		A.SILVERNAME = #{silvername}
	</select>
<select id="seldeone" parameterType="String" resultType="DetailsOne">	
		   select 
         A.SEACH_SEQ
         ,A.TYPE
         ,A.AREAA
         ,A.AREAB
         ,A.AREAC
         ,A.SILVERNAME
         ,A.SERVICE
         ,A.GRADE
         ,A.LAUITUDE
         ,A.LONGITUDE
         ,A.ORGNAME
         ,A.NAME
            ,C.Establishment
            ,C.HP_SERVICE
            ,C.PROTECTION
            ,C.Location
            ,C.Religion
            ,C.Hospital_tel
            ,C.hp_address
            ,C.holiday
            ,C.lunchTime
            ,C.ReceiptTime
            ,C.Facilityinformation
            ,C.treatment

         from 
             SILVERSEARCH A    
            ,Hospital_details C
       where 
             C.SEACH_SEQ = A.SEACH_SEQ 
            and
    		A.SILVERNAME = #{silvername}
	</select>	
<update id="warningmem" parameterType="String">
  UPDATE MEMBER
	SET
        WARNING = (WARNING+1)
	WHERE
		USERID=#{userid}
</update>
<delete id="delmember" parameterType="String">
 DELETE FROM MEMBER
        WHERE USERID=#{userid}
</delete>

<select id="countmember" parameterType="int" resultType="int">
SELECT 
    COUNT(USERID)
FROM
    MEMBER
WHERE
    TYPE = #{type}

</select>
<select id="counts" parameterType="String" resultType="int">
SELECT 
    COUNT(USERID)
FROM
    MEMBER
WHERE
    GENDER = #{gender}

</select>

<select id="selonejob" parameterType="int" resultType="Job">
SELECT 
  a.SEACH_SEQ,
  a.TYPE,
  a.AREAA,
  a.AREAB,
  a.AREAC,
  a.SILVERNAME,
  a.SERVICE,
  a.GRADE,
  a.LAUITUDE,
  a.LONGITUDE,
  b.JO_SEQ,
  b.USERID,
  b.JO_TYPE,
  b.JO_DETAILTYPE,
  b.JO_JOB,
  b.JO_CONTENT,
  b.JO_DATE,
  b.JO_GENDER,
  b.JO_INT
FROM
    SILVERSEARCH a, JOBOFFER b
WHERE
    a.SEACH_SEQ = b.SEACH_SEQ
    AND
    b.JO_SEQ = #{jo_seq}


</select>

<update id="deljob2" parameterType="int">
  UPDATE JOBOFFER
	SET
	    JO_TYPE = null,
		JO_DETAILTYPE = null,
		JO_JOB = null,
		JO_CONTENT = '관리자에 의해 삭제된 구인글입니다.',
		JO_DATE = SYSDATE,
		JO_GENDER = null,
		JO_INT = null
	WHERE
		JO_SEQ = #{jo_seq}
</update>


<select id="selectallboard" resultType="SilverBoard">
SELECT 
	SB_SEQ,
    SBTITLE,
    SBWRITE,
    USERID,
    TO_CHAR(SBDATE,'yyyy-mm-dd hh:mi:ss') SBDATE
FROM
    SILVERBOARD

ORDER BY
    SBDATE DESC

</select>

<update id="delboard2" parameterType="int">
  UPDATE SILVERBOARD
	SET
	    SBTITLE = '관리자에 의해 삭제된 게시글입니다.',
	    SBWRITE = '관리자에 의해 삭제된 게시글입니다.',
	    SBDATE = SYSDATE
	WHERE
		SB_SEQ = #{sb_seq}
</update>
<select id="selectallComent" resultType="SilverBoardComent">
	SELECT 
		SBC_SEQ,
		USERID,
		SB_SEQ,
		SBC_DATE,
		SBC_WRITE
	FROM
		SILVERBOARDCOMENT
	ORDER BY
		SBC_DATE DESC
</select>

<update id="delcoment2" parameterType="int">
  UPDATE SILVERBOARDCOMENT
  	SET
	    SBC_WRITE = '관리자에 의해 삭제된 댓글입니다.',
	    SBC_DATE = SYSDATE
	WHERE
		SBC_SEQ = #{sbc_seq}
</update>

<select id="counttype" parameterType="String" resultType="int">
SELECT 
    COUNT(USERID)
FROM
    JOBOFFER
WHERE
    JO_TYPE = #{jo_type}

</select>
<select id="countjob" parameterType="String" resultType="int">
SELECT 
    COUNT(USERID)
FROM
    JOBOFFER
WHERE
    JO_JOB = #{jo_job}

</select>
<select id="countgen" parameterType="String" resultType="int">
SELECT 
    COUNT(USERID)
FROM
    JOBOFFER
WHERE
    JO_GENDER = #{JO_GENDER}

</select>
</mapper>