<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.scit.silver.dao.BoardMapper">
  
<insert id="insertsb" parameterType="SilverBoard">
INSERT INTO SILVERBOARD(
    SB_SEQ,
    USERID,
    SEACH_SEQ,
    SBTITLE,
    SBWRITE,
    SBDATE
)VALUES(
    SB_SEQ.NEXTVAL,
    #{userid},
    #{seach_seq},
    #{sbtitle},
    #{sbwrite},
    SYSDATE
)
  	
</insert>


<select id="selectsbone" parameterType="int" resultType="SilverBoard">
 SELECT 
 	SB_SEQ,
    SBTITLE,
    SBWRITE,
    USERID,
    TO_CHAR(SBDATE,'yyyy-mm-dd hh:mi:ss') SBDATE
FROM
    SILVERBOARD
WHERE
    SB_SEQ=#{sb_seq}
</select>

<select id="selectall" parameterType="int" resultType="SilverBoard">
SELECT 
	SB_SEQ,
    SBTITLE,
    USERID,
    TO_CHAR(SBDATE,'yyyy-mm-dd hh:mi:ss') SBDATE
FROM
    SILVERBOARD
WHERE
    SEACH_SEQ = #{seach_seq}
ORDER BY
    SBDATE DESC

</select>

<select id="countRecord" parameterType="int" resultType="int">
	
	SELECT 
		COUNT(SEACH_SEQ) 
	FROM 
		SILVERBOARD
	WHERE
		SEACH_SEQ = #{seach_seq}
</select>
<insert id="insertComment" parameterType="SilverBoardComent">
	INSERT INTO SILVERBOARDCOMENT(
		SBC_SEQ,
		USERID,
		SB_SEQ,
		SBC_DATE,
		SBC_WRITE
	)VALUES(
		SBC_SEQ.NEXTVAL,
		#{userid},
		#{sb_seq},
		SYSDATE,
		#{sbc_write}
	)

</insert>
<select id="selectComent" parameterType="int" resultType="SilverBoardComent">
	SELECT 
		SBC_SEQ,
		USERID,
		SB_SEQ,
		SBC_DATE,
		SBC_WRITE
	FROM
		SILVERBOARDCOMENT
	WHERE
		SB_SEQ=#{sb_seq}
	ORDER BY
		SBC_DATE DESC
</select>
<select id="countRecord2" parameterType="int" resultType="int">
	
	SELECT 
		COUNT(SBC_SEQ) 
	FROM 
		SILVERBOARDCOMENT
	WHERE
		SB_SEQ=#{sb_seq}
</select>

<delete id="delsb" parameterType="int">
DELETE 
	FROM SILVERBOARD 
WHERE 
	SB_SEQ = #{sb_seq}
</delete>

<update id="updatesb" parameterType="SilverBoard">
 UPDATE SILVERBOARD
	SET
	
		SBTITLE = #{sbtitle},
    	SBWRITE = #{sbwrite}
	WHERE
		SB_SEQ=#{sb_seq}
</update>

<delete id="delcom" parameterType="int">
DELETE 
	FROM SILVERBOARDCOMENT 
WHERE 
	SBC_SEQ=#{sbc_seq}
	
		
</delete>

<update id="updatecom" parameterType="SilverBoardComent">
 UPDATE SILVERBOARDCOMENT
	SET
		SBC_WRITE=#{sbc_write}
	WHERE
		SBC_SEQ=#{sbc_seq}
</update>

<select id="selectonec" parameterType="int" resultType="SilverBoardComent">
	SELECT 
		SBC_SEQ,
		USERID,
		SB_SEQ,
		SBC_DATE,
		SBC_WRITE
	FROM
		SILVERBOARDCOMENT
	WHERE
		SBC_SEQ=#{sbc_seq}

</select>


  </mapper>