<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.scit.silver.dao.FacilityMapper">

  <update id="upDetails1" parameterType="DetailsOne">
   UPDATE HOSPITAL_DETAILS
	SET
        ESTABLISHMENT = #{establishment},
        HP_SERVICE = #{hp_service},
		PROTECTION = #{protection},
        LOCATION = #{location},
        RELIGION = #{religion},
        HOSPITAL_TEL = #{hospital_tel}
	WHERE
		SEACH_SEQ = #{seach_seq}
  
  </update>
    <update id="upDetails2" parameterType="DetailsOne">
   UPDATE HOSPITAL_DETAILS
	SET
        HOLIDAY = #{holiday},
        LUNCHTIME = #{lunchtime},
		RECEIPTTIME = #{receipttime},
		FACILITYINFORMATION = #{facilityinformation}
	WHERE
		SEACH_SEQ = #{seach_seq}
  
  </update>
  <update id="upDetails3" parameterType="DetailsOne">
   UPDATE HOSPITAL_DETAILS
	SET
        TREATMENT = #{treatment}
	WHERE
		SEACH_SEQ = #{seach_seq}
  
  </update>
  
  <select id="mname" parameterType="String" resultType="String">
  SELECT
    USERNAME
FROM
    MEMBER
WHERE
    USERID=#{userid}
  
  </select>
  
  <insert id="insertjob" parameterType="job">
INSERT INTO JOBOFFER(
    JO_SEQ,
    USERID,
    SEACH_SEQ,
    JO_TYPE,
    JO_DETAILTYPE,
    JO_JOB,
    JO_CONTENT,
    JO_DATE,
    JO_GENDER,
    JO_INT
)
VALUES(
    JO_SEQ.NEXTVAL,
    #{userid},
    #{seach_seq},
    #{jo_type},
    #{jo_detailtype},
    #{jo_job},
    #{jo_content},
    SYSDATE,
    #{jo_gender},
    #{jo_int}
)
  </insert>
 <update id="updatejob" parameterType="job">
   UPDATE JOBOFFER
	SET
	    JO_TYPE = #{jo_type},
	    JO_DETAILTYPE = #{jo_detailtype},
	    JO_JOB = #{jo_job},
	    JO_CONTENT = #{jo_content},
	    JO_GENDER = #{jo_gender},
	    JO_INT = #{jo_int}
	WHERE
		JO_SEQ = #{jo_seq}
  
  </update> 
  <select id="selectjob" parameterType="String" resultType="Job">
  SELECT 
  a.SEACH_SEQ,
  a.TYPE,
  a.AREAA,
  a.AREAB,
  a.AREAC,
  a.SILVERNAME,
  a.SERVICE,
  a.GRADE,
  a.LAUITUDE,
  a.LONGITUDE,
  b.JO_SEQ,
  b.USERID,
  b.JO_TYPE,
  b.JO_DETAILTYPE,
  b.JO_JOB,
  b.JO_CONTENT,
  b.JO_DATE,
  b.JO_GENDER,
  b.JO_INT
FROM
    SILVERSEARCH a, JOBOFFER b
WHERE
    a.SEACH_SEQ = b.SEACH_SEQ
    AND
    b.USERID = #{userid}
ORDER BY
    b.JO_DATE
  
  </select>
  <select id="selectonejob" parameterType="int" resultType="Job">
  SELECT 
  a.SEACH_SEQ,
  a.TYPE,
  a.AREAA,
  a.AREAB,
  a.AREAC,
  a.SILVERNAME,
  a.SERVICE,
  a.GRADE,
  a.LAUITUDE,
  a.LONGITUDE,
  b.JO_SEQ,
  b.USERID,
  b.JO_TYPE,
  b.JO_DETAILTYPE,
  b.JO_JOB,
  b.JO_CONTENT,
  b.JO_DATE,
  b.JO_GENDER,
  b.JO_INT
FROM
    SILVERSEARCH a, JOBOFFER b
WHERE
    a.SEACH_SEQ = b.SEACH_SEQ
    AND
    b.JO_SEQ = #{jo_seq}
  
  </select>
   
  <update id="upSilverSearch" parameterType="SilverSearch">
   UPDATE SILVERSEARCH
	SET
        ORGNAME = #{orgname},
        NAME = #{name}
	WHERE
		SEACH_SEQ = #{seach_seq} 
  </update>
</mapper>