<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.scit.silver.dao.JobMapper">
<select id="selectAllJob" resultType="Job">
SELECT 
  a.SEACH_SEQ,
  a.TYPE,
  a.AREAA,
  a.AREAB,
  a.AREAC,
  a.SILVERNAME,
  a.SERVICE,
  a.GRADE,
  a.LAUITUDE,
  a.LONGITUDE,
  b.JO_SEQ,
  b.USERID,
  b.JO_TYPE,
  b.JO_DETAILTYPE,
  b.JO_JOB,
  b.JO_CONTENT,
  b.JO_DATE,
  b.JO_GENDER,
  b.JO_INT
FROM
    SILVERSEARCH a, JOBOFFER b
WHERE
    a.SEACH_SEQ = b.SEACH_SEQ
ORDER BY
        b.JO_DATE
</select>
<select id="selectmap2" parameterType="Job" resultType="Job">
	SELECT 
		a.SEACH_SEQ,
  a.TYPE,
  a.AREAA,
  a.AREAB,
  a.AREAC,
  a.SILVERNAME,
  a.SERVICE,
  a.GRADE,
  a.LAUITUDE,
  a.LONGITUDE,
  b.JO_SEQ,
  b.USERID,
  b.JO_TYPE,
  b.JO_DETAILTYPE,
  b.JO_JOB,
  b.JO_CONTENT,
  b.JO_DATE,
  b.JO_GENDER,
  b.JO_INT
	FROM
		 SILVERSEARCH a, JOBOFFER b
	WHERE
	a.SEACH_SEQ = b.SEACH_SEQ
	AND
	LONGITUDE IN 
	<foreach collection="list" item="item" index="index" open="(" separator="," close=")">


        #{item.longitude}
		
    </foreach>
		AND
		LAUITUDE IN 
	<foreach collection="list" item="item" index="index"  open="(" separator="," close=")">
        #{item.lauitude}
		
    </foreach>
	ORDER BY
        b.JO_DATE
		
	
	</select> 
 
 
 <select id="countRecord" resultType="int">
	
	SELECT 
		COUNT(a.SEACH_SEQ) 
	FROM 
		SILVERSEARCH a, JOBOFFER b
	WHERE
		a.SEACH_SEQ = b.SEACH_SEQ
</select>

<select id="countRecord2" parameterType="Job" resultType="int">
	
	SELECT 
		COUNT(a.SEACH_SEQ) 
	FROM 
		SILVERSEARCH a, JOBOFFER b
	WHERE
	a.SEACH_SEQ = b.SEACH_SEQ
	AND
	a.LONGITUDE IN 
	<foreach collection="list" item="item" index="index" open="(" separator="," close=")">


        #{item.longitude}
		
    </foreach>
		AND
		a.LAUITUDE IN 
	<foreach collection="list" item="item" index="index"  open="(" separator="," close=")">
        #{item.lauitude}
		
    </foreach>
</select>

<select id="seachjob1" parameterType="String" resultType="Job">
SELECT 
  a.SEACH_SEQ,
  a.TYPE,
  a.AREAA,
  a.AREAB,
  a.AREAC,
  a.SILVERNAME,
  a.SERVICE,
  a.GRADE,
  a.LAUITUDE,
  a.LONGITUDE,
  b.JO_SEQ,
  b.USERID,
  b.JO_TYPE,
  b.JO_DETAILTYPE,
  b.JO_JOB,
  b.JO_CONTENT,
  b.JO_DATE,
  b.JO_GENDER,
  b.JO_INT
FROM
    SILVERSEARCH a, JOBOFFER b
WHERE
	a.SEACH_SEQ = b.SEACH_SEQ
	AND
    a.SILVERNAME LIKE '%'||#{silvername}||'%'
    OR
    a.SEACH_SEQ = b.SEACH_SEQ
	AND
    a.AREAA LIKE '%'||#{areaa}||'%'
    OR
    a.SEACH_SEQ = b.SEACH_SEQ
	AND
    a.AREAB LIKE '%'||#{areab}||'%'
    OR
    a.SEACH_SEQ = b.SEACH_SEQ
	AND
    a.AREAC LIKE '%'||#{areac}||'%'

ORDER BY
        b.JO_DATE


</select>

<select id="seachjob2" parameterType="Job" resultType="Job">
SELECT 
  a.SEACH_SEQ,
  a.TYPE,
  a.AREAA,
  a.AREAB,
  a.AREAC,
  a.SILVERNAME,
  a.SERVICE,
  a.GRADE,
  a.LAUITUDE,
  a.LONGITUDE,
  b.JO_SEQ,
  b.USERID,
  b.JO_TYPE,
  b.JO_DETAILTYPE,
  b.JO_JOB,
  b.JO_CONTENT,
  b.JO_DATE,
  b.JO_GENDER,
  b.JO_INT
FROM
    SILVERSEARCH a, JOBOFFER b
WHERE
	a.SEACH_SEQ = b.SEACH_SEQ
<if test="jo_gender != null">
	AND
    b.JO_GENDER = #{jo_gender}
</if>
<if test="areaa != null">
	AND
    a.AREAA = #{areaa}
</if>
<if test="areab != null">
	AND
    a.AREAB = #{areab}
</if>
<if test="jo_job != null">
	AND
    b.JO_JOB = #{jo_job}
</if>
<if test="jo_detailtype != null"> 
	AND
    b.JO_DETAILTYPE = #{jo_detailtype}
</if>
<if test="jo_type != null"> 
    AND
    b.JO_TYPE = #{jo_type}
</if>
ORDER BY
        b.JO_DATE


</select>

  </mapper>