<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 시설좌표 불러오기  SQL -->
<mapper namespace="com.scit.silver.dao.SearchMapper">
	<select id="selectmap" parameterType="int" resultType="SilverSearch">
	SELECT
		SEACH_SEQ,
		TYPE,
		AREAA,
		AREAB,
		AREAC,
		SILVERNAME,
		SERVICE,
		GRADE,
		LAUITUDE,
		LONGITUDE
	FROM
		SILVERSEARCH
	WHERE
		TYPE=#{type}
	 ORDER BY
        GRADE
	</select>
	<select id="selectmap2" parameterType="SilverSearch" resultType="SilverSearch">
	SELECT 
		SEACH_SEQ,
		TYPE,
		AREAA,
		AREAB,
		AREAC,
		SILVERNAME,
		SERVICE,
		GRADE,
		LAUITUDE,
		LONGITUDE
	FROM
		SILVERSEARCH
	WHERE
	LONGITUDE IN 
	<foreach collection="list" item="item" index="index" open="(" separator="," close=")">


        #{item.longitude}
		
    </foreach>
		AND
		LAUITUDE IN 
	<foreach collection="list" item="item" index="index"  open="(" separator="," close=")">
        #{item.lauitude}
		
    </foreach>
	ORDER BY
        GRADE
		
	
	</select>

<select id="countRecord" parameterType="int" resultType="int">
	
	SELECT 
		COUNT(SEACH_SEQ) 
	FROM 
		SILVERSEARCH
	WHERE
		TYPE=#{type}
</select>

<select id="countRecord2" parameterType="SilverSearch" resultType="int">
	
	SELECT 
		COUNT(SEACH_SEQ) 
	FROM 
		SILVERSEARCH
	WHERE
	LONGITUDE IN 
	<foreach collection="list" item="item" index="index" open="(" separator="," close=")">


        #{item.longitude}
		
    </foreach>
		AND
		LAUITUDE IN 
	<foreach collection="list" item="item" index="index"  open="(" separator="," close=")">
        #{item.lauitude}
		
    </foreach>
</select>

<!--   시설db 정보 불러오기 sql   -->
 <select id="selectmap3" parameterType="int" resultType="DetailsTwo">	
		select  
			A.SEACH_SEQ
			,A.TYPE
			,A.AREAA
			,A.AREAB
			,A.AREAC
			,A.SILVERNAME
			,A.SERVICE
			,A.GRADE
			,A.LAUITUDE
			,A.LONGITUDE
            ,B.DETAIL_NUMBER
            ,TO_CHAR(B.ESTABLISHMENT, 'YYYY-MM-DD') ESTABLISHMENT
            ,TO_CHAR(B.APPROVAL, 'YYYY-MM-DD') APPROVAL
            ,B.address
            ,B.tel
            ,B.parkinglot
         FROM 
             SILVERSEARCH A 	
            ,DETAILS B
    	where 
            B.SEACH_SEQ = #{seach_seq} and
    		A.SEACH_SEQ = #{seach_seq} 
	</select>	



	<!--   시설db 정보 불러오기 sql   -->
 <select id="selectmap4" parameterType="int" resultType="DetailsOne">	
		select 
			A.SEACH_SEQ
			,A.TYPE
			,A.AREAA
			,A.AREAB
			,A.AREAC
			,A.SILVERNAME
			,A.SERVICE
			,A.GRADE
			,A.LAUITUDE
			,A.LONGITUDE
            ,C.Establishment
            ,C.HP_service
            ,C.Protection
            ,C.Location
            ,C.Religion
            ,C.Hospital_tel
            ,C.hp_address
            ,C.holiday
            ,C.lunchTime
            ,C.ReceiptTime
            ,C.Facilityinformation
         from 
             SILVERSEARCH A 	
            ,Hospital_details C
    	where 
			C.SEACH_SEQ = #{seach_seq} and
    		A.SEACH_SEQ = #{seach_seq} 
	 
	</select>	
		 
	<select id="TypeSearch" parameterType="int" resultType="int">
		SELECT TYPE FROM SILVERSEARCH WHERE SEACH_SEQ = #{seach_seq}
	
	
	
	</select>	 
		 
</mapper>
