<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 노인기본정보 등록 -->
<mapper namespace="com.scit.silver.dao.SeniorMapper">
	<insert id="insertSenior" parameterType="SeniorCitizen">
		INSERT INTO SENIORCITIZEN
		(SC_SEQ
		,USERID
		,SC_BIRTHDAY
		,SC_NAME
		,SC_BLOODTYPE) 
		VALUES 
		(SC_SEQ.NEXTVAL
		,#{userid}
		,#{sc_birthday}
		,#{sc_name}
		,#{sc_bloodtype}
		)
	</insert>
	<!-- 노인상세정보등록 -->
	<insert id="insertSeniorDetails" parameterType="SeniorCitizenDetails">
	INSERT INTO SENIORCITIZENDETAILS
		(SC_SEQ
		,SCD_SEQ
		,SCD_MEAL
		,SCD_CARE,SCD_WASHING 
		,SCD_CLOTHING
		,SCD_BATH
		,SCD_TOILET 
		,SCD_DISEASE
		)
		VALUES 
		(#{sc_seq}
		,SCD_SEQ.NEXTVAL
		,#{scd_meal}
		,#{scd_care}
		,#{scd_washing}
		,#{scd_clothing}
		,#{scd_bath}
		,#{scd_toilet}
		,#{scd_disease}
		)
	
	</insert>
		<!-- 시퀀스 조회 -->
		<select id="SelectSeq" parameterType="String" resultType="int">
			SELECT 
				SC_SEQ
			FROM 
				SENIORCITIZEN
			WHERE 
				USERID = #{userid}
			
		</select>
	
</mapper>